* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 460px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: 0;
    outline: none;
    background: #ebfffc;
    color: #555;
    height: 60px;
    width: 82%;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 24px;
}

.weather-icon {
    width: 160px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -9px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 20px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 22px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-top: 10px;
    margin-left: 14px;
    font-size: 14px;
    display: none;
}